flexible(justify = false, items = false, direction = false)
    display flex

    if justify
        justify-content justify

    if items
        align-items items

    if direction
        flex-direction direction
